.blackbg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 3);

  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.oya {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.c1 {
  display: inline-flexbox;

  height: 33.3333vh;
  background-color: rgb(0, 0, 17);
  text-align: center;

  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
}

.c2 {
  display: inline-flexbox;

  height: 33.3333vh;
  background-color: rgb(0, 0, 17);
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.center {
  position: absolute;
  top: 45%;
  left: 35%;
  font-family: Rockwell;
  font-size: 45px;
}

.bear {
  width: 50px;
  height: 50px;
}

.name {
  position: absolute;
  left: 280px;
  font-family: Palatino;
  font-size: 40px;
  color: rgb(183, 187, 134);
}

.words {
  position: absolute;
  left: 60px;
  top: 442px;
  font-size: 118px;
  font-family: Times New Roman;
  color: rgb(179, 28, 28);
  z-index: 100;
}
body {
  background-color: rgb(240, 241, 228);
  overflow-x: hidden;
}

.forest {
  position: absolute;
  max-width: 40%;
  height: auto;
  top: 75px;
  left: 1050px;
  opacity: 0.7;
  z-index: 1;
}

.c3 {
  display: inline-flexbox;

  height: 33.3333vh;
  background-color: rgb(76, 76, 95);
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.redline {
  display: inline-block;

  height: 1vh;
  background-color: rgb(179, 28, 28);
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

* {
  box-sizing: border-box;
  cursor: none;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 16px;
  background-color: white;

  z-index: 999;
}

.sdbar {
  display: inline-block;
  height: 60px;
  width: 1px;
  background-color: rgb(200, 200, 216);
  text-align: center;
  position: absolute;
  top: 750px;
  left: 1620px;
  z-index: 100;
}

.tate {
  position: absolute;
  writing-mode: vertical-rl;
  display: inline-block;
  left: 1617px;
  top: 710px;
  color: rgb(1, 1, 44);
}

.tbg {
  width: 100vw;
  height: 100vh;
  display: none;
}
/* 254255247 */
.car {
  position: relative;
  max-width: 50%;
  max-height: 80%;
  display: flex;
  opacity: 1;
  z-index: 1;
  left: 300px;
}

.cove {
  display: inline-flex;

  height: 140px;
  width: 470px;
  background-color: rgb(240, 241, 228);
  text-align: center;

  position: absolute;
  left: 300px;
  z-index: 10;
  color: white;
}

.c2cove {
  display: inline-flexbox;

  height: 33.3333vh;
  background-color: rgb(0, 0, 17);
  text-align: center;

  position: static;
  top: 0;
  left: 0;
  z-index: 10;
}

.forestcove {
  display: inline-flex;

  height: 700px;
  width: 200px;
  background-color: rgb(240, 241, 228);
  text-align: center;
  left: 850px;
  position: absolute;
  top: 74px;
  z-index: 10;
  color: white;
}

.tate1 {
  position: absolute;
  writing-mode: vertical-rl;
  display: inline-block;
  top: 1000px;
  left: 680px;
  font-size: 190px;
  font-family: Times New Roman;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

.GREATNESS {
  position: absolute;
  top: 1000px;
  left: 950px;
  font-size: 40px;
  font-family: Times New Roman;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

.FROM {
  position: absolute;
  top: 1050px;
  left: 950px;
  font-size: 40px;
  font-family: Times New Roman;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

.SMALL {
  position: absolute;
  top: 1100px;
  left: 950px;
  font-size: 40px;
  font-family: Times New Roman;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

.BEGININGS {
  position: absolute;
  top: 1150px;
  left: 950px;
  font-size: 40px;
  font-family: Times New Roman;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

.igyou {
  position: absolute;
  top: 1300px;
  left: 950px;
  font-size: 40px;
  font-family: Times New Roman;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

.witt {
  position: absolute;
  top: 1300px;
  left: 950px;
  font-size: 20px;
  font-family: Times New Roman;
  color: rgb(161, 165, 139);
  z-index: 1000;
}

.from {
  position: absolute;
  top: 1325px;
  left: 950px;
  font-size: 20px;
  font-family: Times New Roman;
  color: rgb(161, 165, 139);
  z-index: 1000;
}

.footerbg {
  background-color: rgb(0, 0, 17);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 30vh;
  top: 1500px;
  position: absolute;
}
